<div class="welcome-message">
  <% if user.returning? %>
    <h2>Welcome back, <%= user.name %>!</h2>
    <p>We missed you.</p>
  <% else %>
    <h2>Welcome, new visitor!</h2>
    <p>Please sign up to continue.</p>
  <% end %>
</div>
